/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
	box-sizing: border-box;

	--SoftRed: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--DarkDesaturatedCyan_Graphic_design_text: hsl(167, 40%, 24%);
	--DarkBlue_photography_text: hsl(198, 62%, 26%);
	--DarkModerateCyan_footer: hsl(168, 34%, 41%);

	--VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
	--VeryDarkGrayishBlue: hsl(213, 9%, 39%);
	--DarkGrayishBlue: hsl(232, 10%, 55%);
	--GrayishBlue: hsl(210, 4%, 67%);
	--White: hsl(0, 0%, 100%);

	--fs: 1.125rem;

	--ff-text: 'Barlow', sans-serif;
	--ff-heading: 'Fraunces', serif;

	--fw-bold: 600;
	--fw-xbold: 700;
	--fw-xxbold: 900;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: var(--ff-text);
	font-size: var(--fs);
	font-weight: var(--fw-bold);
}
.cta, .title {
	font-family: var(--ff-heading);
	font-weight: var(--fw-xxbold);
}
a{
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 0;
}
img{
  max-width: 100%;
}
ul{
  list-style: none;
}
