@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr 10fr 1fr; */
  /* padding: 0 2em; */
}
main {
  grid-column: 2;
}
.hero {
  min-height: 100vh;
  background-image: url(images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6em 2em 0;
}
.hero__title {
  font-size: clamp(2rem, 13vw, 5rem);
  color: var(--White);
  text-align: center;
  text-transform: uppercase;
}
h2.title {
  color: var(--VeryDarkDesaturatedBlue);
}
.hero img {
  display: inline-block;
  position: relative;
  bottom: -7em;
}
.about {
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}
.illustration {
  grid-row: 1;
  grid-column: 1;

  /* background-color: red; */
}
.card picture {
  /* background-color: green; */
}
.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.illustration__content, .card__content {
  padding: 4em 1em;
  /* background-color: aqua; */
}
.illustration__content > * {
  margin-bottom: 1em;
}

.illustration__content--text {
  font-size: var(--fs);
  color: var(--DarkBlue_photography_text);
}
.text {
  max-width: 550px;
  margin-inline: auto;
}
.cta {
  display: inline-block;
  margin-bottom: 0em;
  text-transform: uppercase;
  color: var(--VeryDarkDesaturatedBlue);
  font-weight: var(--fw-xbold);
  position: relative;
  padding: 0 .7em;
}
.cta::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 7px;
  width: 100%;
  border-radius: 10px;
  /* background-color: var(--SoftRed); */
  z-index: -1;
}
.transform.cta::before {
  background-color: var(--Yellow);
  /* background-color: var(--SoftRed); */
  opacity: .45;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/*! ======================================================================== */
/*! ======================================================================== */
/*! ======================================================================== */
/*! ======================================================================== */
/*! ======================================================================== */
/*! MEDIA QUARIES */
@media (min-width: 600px){
  .card {
    grid-template-rows: repeat(2, 30em);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url(images/desktop/image-header.jpg);
  }
  .about {
    text-align: left;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    min-height: 80vh;
  }
  .illustration {
    grid-row: 1;
    grid-column: 2;
    /* background-image: url(images/desktop/image-transform.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* padding: 10em; */
  }
  .illustration__content {
    padding: 4em;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    
  }
}
@media (min-width: 1024px) {

}
