@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr 10fr 1fr; */
  /* padding: 0 2em; */
}
main {
  grid-column: 2;
}
.hero {
  min-height: 100vh;
  background-image: url(images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/*! ======================================================================== */
/*! ======================================================================== */
/*! ======================================================================== */
/*! ======================================================================== */
/*! ======================================================================== */
/*! MEDIA QUARIES */
@media (min-width: 1024px) {

}
